h1{
    color: green;
}

/* class selector */

.red-text{
    color: red;
}
.blue-text{
    color: blue;
}
.green-text{
    color: green;
}

/* id selector */

#main{
    color: purple;
}

/* Attribute selector */

p[draggable=false]{
    color:cornflowerblue
}

/* h1[draggable=true]{
    color: aqua;
} */

/* Universal selector */

*{
    color:blueviolet;
}